# Editor configuration, see http://editorconfig.org
root = true

[*.sol]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length=200
spaces_around_operators=true
indent_brace_style=K&R
end_of_line=crlf

[*.csproj]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.xml]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.sql]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.ruleset]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length = off

[*.yml]
charset=utf-8
trim_trailing_whitespace=true
indent_style=space
indent_size=2
insert_final_newline=true

[*.toml]
indent_size=4
insert_final_newline=false

[*.scss]
indent_size=2

[*.cs]
charset=utf-8
max_line_length=200
spaces_around_operators=true
indent_brace_style=Allman
trim_trailing_whitespace=True
insert_final_newline=false
indent_style=space
indent_size=4
end_of_line=crlf

# Microsoft .NET properties
csharp_preferred_modifier_order=public, private, protected, internal, file, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, required, volatile, async:error
#csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:error
csharp_prefer_braces=true:warning
csharp_style_var_elsewhere=false:error
csharp_style_var_for_built_in_types=false:error
csharp_style_var_when_type_is_apparent=false:error
dotnet_naming_rule.private_constants_rule.severity=error
dotnet_naming_rule.private_constants_rule.style=all_upper_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_style.all_upper_style.capitalization=all_upper
dotnet_naming_style.all_upper_style.word_separator=_
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:error
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:error
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:error
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=true:error
dotnet_style_qualification_for_field=true:error
dotnet_style_qualification_for_method=true:error
dotnet_style_qualification_for_property=true:error
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# Code Quality Settings
dotnet_code_quality.PH2092.max_operators=10

# ROSLYNATOR SETTINGS

# Applicable to: rcs1018
#roslynator_accessibility_modifiers = explicit|implicit
roslynator_accessibility_modifiers=explicit

# Default: multi_line
# Applicable to: rcs0020
#roslynator_accessor_braces_style = multi_line|single_line_when_expression_is_on_single_line

# Applicable to: rcs1014
#roslynator_array_creation_type_style = explicit|implicit|implicit_when_type_is_obvious
roslynator_array_creation_type_style=implicit_when_type_is_obvious

# Applicable to: rcs0032
#roslynator_arrow_token_new_line = after|before

# Applicable to: rcs0027
#roslynator_binary_operator_new_line = after|before

# Applicable to: rcs0014, rcs1036
#roslynator_blank_line_between_closing_brace_and_switch_section = true|false

# Applicable to: rcs0011
#roslynator_blank_line_between_single_line_accessors = true|false

# Applicable to: rcs0015
#roslynator_blank_line_between_using_directives = never|separate_groups

# Default: multi_line
# Applicable to: rcs0021
r#oslynator_block_braces_style = multi_line|single_line_when_empty

# Applicable to: rcs1016
#roslynator_body_style = block|expression

# Applicable to: rcs1051
#roslynator_conditional_operator_condition_parentheses_style = include|omit|omit_when_condition_is_single_token

# Applicable to: rcs0028
#roslynator_conditional_operator_new_line = after|before

# Applicable to: rcs1090
roslynator_configure_await = false

# Applicable to: rcs1078
#roslynator_empty_string_style = field|literal

# Applicable to: rcs1096
#roslynator_enum_has_flag_style = method|operator
roslynator_enum_has_flag_style=operator

# Applicable to: rcs0052
#roslynator_equals_token_new_line = after|before

# Default: 140
# Applicable to: rcs0056
#roslynator_max_line_length = <NUM>

# Applicable to: rcs0058
#roslynator_new_line_at_end_of_file = true|false

# Applicable to: rcs0051
#roslynator_new_line_before_while_in_do_statement = true|false

# Applicable to: rcs0059
#roslynator_null_conditional_operator_new_line = after|before

# Applicable to: rcs1248
#roslynator_null_check_style = equality_operator|pattern_matching

# Applicable to: rcs1050
#roslynator_object_creation_parentheses_style = include|omit

# Applicable to: rcs1250
#roslynator_object_creation_type_style = explicit|implicit|implicit_when_type_is_obvious
roslynator_object_creation_type_style=implicit_when_type_is_obvious

#roslynator_prefix_field_identifier_with_underscore = true|false

# Applicable to: rcs1213
#roslynator_suppress_unity_script_methods = true|false

# Applicable to: rcs1207
#roslynator_use_anonymous_function_or_method_group = anonymous_function|method_group

# Applicable to: rcs1016
#roslynator_use_block_body_when_declaration_spans_over_multiple_lines = true|false

# Applicable to: rcs1016
#roslynator_use_block_body_when_expression_spans_over_multiple_lines = true|false

# Applicable to: rcs1250
#roslynator_use_var_instead_of_implicit_object_creation = true|false
roslynator_use_var_instead_of_implicit_object_creation=false

########################################################################################################################
# VS IDE Checks
########################################################################################################################
#Simplify name (IDE0001)
dotnet_diagnostic.IDE0001.severity = error
#Simplify member access (IDE0002)
dotnet_diagnostic.IDE0002.severity = error
#Remove unnecessary cast (IDE0004)
dotnet_diagnostic.IDE0004.severity = error
# Enable GenerateDocumentationFile to enable Remove unnecessary usings/imports on build.. except this turns on xmlDocs
dotnet_diagnostic.IDE0005.severity = none
# Populate all cases of switch
dotnet_diagnostic.IDE0010.severity = none
#Use throw expression (IDE0016)
dotnet_diagnostic.IDE0016.severity = none
#Inline variable declaration (IDE0018)
dotnet_diagnostic.IDE0018.severity = none
#Use object initializers (IDE0017)
dotnet_diagnostic.IDE0027.severity = none
#Use collection initializers (IDE0028)
dotnet_diagnostic.IDE0028.severity = error
#Null check can be simplified (IDE0029)
dotnet_diagnostic.IDE0029.severity = error
#Null check can be simplified (IDE0030)
dotnet_diagnostic.IDE0030.severity = error
#Use null propagation (IDE0031)
dotnet_diagnostic.IDE0031.severity = error
#Use auto-implemented property (IDE0032)
dotnet_diagnostic.IDE0032.severity = error
#Use explicitly provided tuple name (IDE0033)
dotnet_diagnostic.IDE0033.severity = error
#Simplify 'default' expression (IDE0034)
dotnet_diagnostic.IDE0034.severity = error
#Remove unreachable code (IDE0035)
dotnet_diagnostic.IDE0035.severity = error
#Use inferred member names (IDE0037)
dotnet_diagnostic.IDE0037.severity = error
#Use local function instead of lambda (IDE0039)
dotnet_diagnostic.IDE0041.severity = error
#Use 'is null' check (IDE0041)
dotnet_diagnostic.IDE0041.severity = suggestion
#Deconstruct variable declaration (IDE0042)
dotnet_diagnostic.IDE0042.severity = error
#Use conditional expression for assignment (IDE0045)
dotnet_diagnostic.IDE0045.severity = suggestion
#Use conditional expression for return (IDE0046)
dotnet_diagnostic.IDE0046.severity = suggestion
#Convert anonymous type to tuple (IDE0050)
dotnet_diagnostic.IDE0050.severity = suggestion
#Remove unused private member (IDE0051)
dotnet_diagnostic.IDE0051.severity = suggestion
#Remove unread private member (IDE0052)
dotnet_diagnostic.IDE0052.severity = suggestion
#Use compound assignment (IDE0054)
dotnet_diagnostic.IDE0054.severity = suggestion
# Fix Formatting
dotnet_diagnostic.IDE0055.severity = none
#Use index operator (IDE0056)
dotnet_diagnostic.IDE0056.severity = error
#Use range operator (IDE0057)
dotnet_diagnostic.IDE0057.severity = error
#Remove unnecessary expression value (IDE0058)
dotnet_diagnostic.IDE0058.severity = suggestion
#Remove unnecessary value assignment (IDE0059)
dotnet_diagnostic.IDE0059.severity = suggestion
# Remove unused parameter
dotnet_diagnostic.IDE0060.severity = suggestion
# Using statement can be simplified
dotnet_diagnostic.IDE0063.severity = none
#Use 'System.HashCode.Combine' (IDE0070)
dotnet_diagnostic.IDE0070.severity = error
#Simplify interpolation (IDE0071)
dotnet_diagnostic.IDE0071.severity = error
#Add missing cases to switch expression (IDE0072)
dotnet_diagnostic.IDE0072.severity = none
#Use compound assignment (IDE0074)
dotnet_diagnostic.IDE0074.severity = error
#Simplify conditional expression (IDE0075)
dotnet_diagnostic.IDE0075.severity = error
# Use pattern matching
dotnet_diagnostic.IDE0078.severity = error
# Remove Unnecessary suppressions
dotnet_remove_unnecessary_suppression_exclusions = none
dotnet_diagnostic.IDE0079.severity = error
#Remove unnecessary suppression operator (IDE0080)
dotnet_diagnostic.IDE0080.severity = error
#Convert typeof to nameof (IDE0082)
dotnet_diagnostic.IDE0082.severity = error
#Simplify new expression (IDE0090)
dotnet_diagnostic.IDE0090.severity = error
#Remove unnecessary equality operator (IDE0100)
dotnet_diagnostic.IDE0100.severity = error
#Remove unnecessary discard (IDE0110)
dotnet_diagnostic.IDE0110.severity = error
#Simplify LINQ expression (IDE0120)
dotnet_diagnostic.IDE0120.severity = error
#Simplify LINQ type check and cast (IDE0121)
dotnet_diagnostic.IDE0121.severity = error
#Namespace does not match folder structure (IDE0130)
dotnet_diagnostic.IDE0130.severity = error
#Prefer 'null' check over type check (IDE0150)
dotnet_diagnostic.IDE0150.severity = error
#Use tuple to swap values (IDE0180)
dotnet_diagnostic.IDE0180.severity = error
# Use block scoped namespace
dotnet_diagnostic.IDE0160.severity = none
# Use tuple to swap values
dotnet_diagnostic.IDE0180.severity = error
# Remove unnecessary lambda expression
dotnet_diagnostic.IDE0200.severity = error
# Convert to top level statements (Program.Main)
dotnet_diagnostic.IDE0210.severity = none
#Add explicit cast in foreach loop (IDE0220)
dotnet_diagnostic.IDE0220.severity = error
#Use UTF-8 string literal (IDE0230)
dotnet_diagnostic.IDE0230.severity = error
#Nullable directive is redundant (IDE0240)
dotnet_diagnostic.IDE0240.severity = error
#Nullable directive is unnecessary (IDE0241)
dotnet_diagnostic.IDE0241.severity = error
#Use collection expression for array (IDE0300)
dotnet_diagnostic.IDE0300).severity = error
#Use collection expression for empty (IDE0301)
dotnet_diagnostic.IDE0301.severity = error
#Use collection expression for stack alloc (IDE0302)
dotnet_diagnostic.IDE0302.severity = error
#Use collection expression for Create() (IDE0303)
dotnet_diagnostic.IDE0303.severity = error
#Use collection expression for builder (IDE0304)
dotnet_diagnostic.IDE0304.severity = error
#Use collection expression for fluent (IDE0305)
dotnet_diagnostic.IDE0305.severity = error
#Use collection expression for new (IDE0306)
dotnet_diagnostic.IDE0306.severity = error
#Use unbound generic type (IDE0340)
dotnet_diagnostic.IDE0340.severity = error
#Use implicitly typed lambda (IDE0350)
dotnet_diagnostic.IDE0350.severity = error
#Null check can be simplified (IDE0270)
dotnet_diagnostic.IDE0230.severity = error
# Use Primary constructor
dotnet_diagnostic.IDE0290.severity = none
# Use collection expression for array
dotnet_diagnostic.IDE0300.severity = error
# Use collection expression for empty
dotnet_diagnostic.IDE0301.severity = error
# Use collection expression for stackalloc
dotnet_diagnostic.IDE0302.severity = error
# Use collection expression for Create()
dotnet_diagnostic.IDE0303.severity = error
# Use collection expression for builder
dotnet_diagnostic.IDE0304.severity = error
# Use collection expression for fluent
dotnet_diagnostic.IDE0305.severity = error

########################################################################################################################
# Managed Code analysis
########################################################################################################################

# CA1001 - ?? 
dotnet_diagnostic.CA1001.severity = None
# CA1002 - ?? 
dotnet_diagnostic.CA1002.severity = None
# CA1003 - ?? 
dotnet_diagnostic.CA1003.severity = Error
# CA1005 - ?? 
dotnet_diagnostic.CA1005.severity = None
# C1A008 - Flags Enum should have an enum called 'None' with a value 0 
dotnet_diagnostic.CA1008.severity = None
# CA1009 - ?? 
dotnet_diagnostic.CA1009.severity = Error
# CA1012 - ?? 
dotnet_diagnostic.CA1012.severity = Error
# CA1014 - ?? 
dotnet_diagnostic.CA1014.severity = None
# CA1016 - ?? 
dotnet_diagnostic.CA1016.severity = Error
# CA1018 - ?? 
dotnet_diagnostic.CA1018.severity = Error
# CA1019 - ?? 
dotnet_diagnostic.CA1019.severity = None
# CA1025 - ?? 
dotnet_diagnostic.CA1025.severity = Error
# CA1027 - ?? 
dotnet_diagnostic.CA1027.severity = None
# CA1028 - ?? 
dotnet_diagnostic.CA1028.severity = Error
# CA1030 - ?? 
dotnet_diagnostic.CA1030.severity = None
# CA1031 - ?? 
dotnet_diagnostic.CA1031.severity = None
# CA1033 - ?? 
dotnet_diagnostic.CA1033.severity = None
# CA1034 - ?? 
dotnet_diagnostic.CA1034.severity = Error
# CA1036 - ?? 
dotnet_diagnostic.CA1036.severity = Error
# CA1040 - ?? 
dotnet_diagnostic.CA1040.severity = None
# CA1041 - ?? 
dotnet_diagnostic.CA1041.severity = Error
# CA1043 - ?? 
dotnet_diagnostic.CA1043.severity = Error
# CA1044 - ?? 
dotnet_diagnostic.CA1044.severity = Error
# CA1047 - ?? 
dotnet_diagnostic.CA1047.severity = Error
# CA1048 - ?? 
dotnet_diagnostic.CA1048.severity = Error
# CA1049 - ?? 
dotnet_diagnostic.CA1049.severity = Error
# CA1050 - ?? 
dotnet_diagnostic.CA1050.severity = Error
# CA1051 - ?? 
dotnet_diagnostic.CA1051.severity = Error
# CA1052 - ?? 
dotnet_diagnostic.CA1052.severity = Error
# CA1053 - ?? 
dotnet_diagnostic.CA1053.severity = Error
# CA1054 - ?? 
dotnet_diagnostic.CA1054.severity = None
# CA1055 - ?? 
dotnet_diagnostic.CA1055.severity = Error
# CA1056 - ?? 
dotnet_diagnostic.CA1056.severity = Error
# CA1057 - ?? 
dotnet_diagnostic.CA1057.severity = Error
# CA1058 - ?? 
dotnet_diagnostic.CA1058.severity = Error
# CA1059 - ?? 
dotnet_diagnostic.CA1059.severity = Error
# CA1060 - ?? 
dotnet_diagnostic.CA1060.severity = Error
# CA1061 - ?? 
dotnet_diagnostic.CA1061.severity = Error
# CA1062 - ?? 
dotnet_diagnostic.CA1062.severity = None
# CA1063 - ?? 
dotnet_diagnostic.CA1063.severity = Error
# CA1064 - ?? 
dotnet_diagnostic.CA1064.severity = Error
# CA1065 - ?? 
dotnet_diagnostic.CA1065.severity = Error
# CA1301 - ?? 
dotnet_diagnostic.CA1301.severity = Error
# CA1303 - ?? 
dotnet_diagnostic.CA1303.severity = None
# CA1305 - ?? 
dotnet_diagnostic.CA1305.severity = None
# CA1306 - ?? 
dotnet_diagnostic.CA1306.severity = Error
# CA1307 - ?? 
dotnet_diagnostic.CA1307.severity = None
# CA1308 - ?? 
dotnet_diagnostic.CA1308.severity = None
# CA1309 - ?? 
dotnet_diagnostic.CA1309.severity = Error
# CA1400 - ?? 
dotnet_diagnostic.CA1400.severity = Error
# CA1401 - ?? 
dotnet_diagnostic.CA1401.severity = Error
# CA1403 - ?? 
dotnet_diagnostic.CA1403.severity = Error
# CA1403 - ?? 
dotnet_diagnostic.CA1404.severity = Error
# CA1405 - ?? 
dotnet_diagnostic.CA1405.severity = Error
# CA1410 - ?? 
dotnet_diagnostic.CA1410.severity = Error
# CA1415 - ?? 
dotnet_diagnostic.CA1415.severity = Error
# CA1501 - ?? 
dotnet_diagnostic.CA1501.severity = None
# CA1502 - ?? 
dotnet_diagnostic.CA1502.severity = Error
# CA1504 - ?? 
dotnet_diagnostic.CA1504.severity = Error
# CA1505 - ?? 
dotnet_diagnostic.CA1505.severity = Error
# CA1506 - ?? 
dotnet_diagnostic.CA1506.severity = None
# CA1515 - Because an application's API isn't typically referenced from outside the assembly, types can be made internal 
dotnet_diagnostic.CA1515.severity = Info
# CA1600 - ?? 
dotnet_diagnostic.CA1600.severity = Error
# CA1601 - ?? 
dotnet_diagnostic.CA1601.severity = Error
# CA1700 - ?? 
dotnet_diagnostic.CA1700.severity = Error
# CA1707 - ?? 
dotnet_diagnostic.CA1707.severity = None
# CA1710 - ?? 
dotnet_diagnostic.CA1710.severity = None
# CA1712 - ?? 
dotnet_diagnostic.CA1712.severity = None
# CA1716 - ?? 
dotnet_diagnostic.CA1716.severity = None
# CA1717 - ?? 
dotnet_diagnostic.CA1717.severity = None
# CA1724 - ?? 
dotnet_diagnostic.CA1724.severity = None
# CA1800 - ?? 
dotnet_diagnostic.CA1800.severity = Error
# CA1801 - ?? 
dotnet_diagnostic.CA1801.severity = Error
# CA1802 - ?? 
dotnet_diagnostic.CA1802.severity = Error
# CA1803 - ?? 
dotnet_diagnostic.CA1803.severity = Error
# CA1804 - ?? 
dotnet_diagnostic.CA1804.severity = Error
# CA1805 - ?? 
dotnet_diagnostic.CA1805.severity = Error
# CA1806 - ?? 
dotnet_diagnostic.CA1806.severity = Error
# CA1807 - ?? 
dotnet_diagnostic.CA1807.severity = Error
# CA1808 - ?? 
dotnet_diagnostic.CA1808.severity = Error
# CA1809 - ?? 
dotnet_diagnostic.CA1809.severity = Error
# CA1810 - ?? 
dotnet_diagnostic.CA1810.severity = Error
# CA1811 - ?? 
dotnet_diagnostic.CA1811.severity = Error
# CA1812 - ?? 
dotnet_diagnostic.CA1812.severity = Error
# CA1813 - ?? 
dotnet_diagnostic.CA1813.severity = Error
# CA1814 - ?? 
dotnet_diagnostic.CA1814.severity = Error
# CA1815 - ?? 
dotnet_diagnostic.CA1815.severity = Error
# CA1816 - ?? 
dotnet_diagnostic.CA1816.severity = Error
# CA1819 - ?? 
dotnet_diagnostic.CA1819.severity = None
# CA1820 - ?? 
dotnet_diagnostic.CA1820.severity = Error
# CA1821 - ?? 
dotnet_diagnostic.CA1821.severity = Error
# CA1822 - ?? 
dotnet_diagnostic.CA1822.severity = Error
# CA1823 - ?? 
dotnet_diagnostic.CA1823.severity = Error
# CA1826 - ?? 
dotnet_diagnostic.CA1826.severity = None
# CA1848 - For improved performance, use the LoggerMessage delegates instead of calling 'LoggerExtensions.LogXXX(ILogger, string?, params object?[])' 
#TODO: Review whether there's a better way of doing this that keeps the code readable 
dotnet_diagnostic.CA1848.severity = None
# CA1859 - For improved performance, use the concrete type X instead of base class or interface' 
dotnet_diagnostic.CA1859.severity = None
# CA1900 - ?? 
dotnet_diagnostic.CA1900.severity = Error
# CA1901 - ?? 
dotnet_diagnostic.CA1901.severity = Error
# CA2000 - ?? 
dotnet_diagnostic.CA2000.severity = Error
# CA2001 - ?? 
dotnet_diagnostic.CA2001.severity = Error
# CA2002 - ?? 
dotnet_diagnostic.CA2002.severity = Error
# CA2003 - ?? 
dotnet_diagnostic.CA2003.severity = Error
# CA2004 - ?? 
dotnet_diagnostic.CA2004.severity = Error
# CA2006 - ?? 
dotnet_diagnostic.CA2006.severity = Error
# CA2007 - ?? 
dotnet_diagnostic.CA2007.severity = None
# CA2008 - ?? 
dotnet_diagnostic.CA2008.severity = None
# CA2100 - ?? 
dotnet_diagnostic.CA2100.severity = Error
# CA2101 - ?? 
dotnet_diagnostic.CA2101.severity = Error
# CA2108 - ?? 
dotnet_diagnostic.CA2108.severity = Error
# CA2111 - ?? 
dotnet_diagnostic.CA2111.severity = Error
# CA2112 - ?? 
dotnet_diagnostic.CA2112.severity = Error
# CA2114 - ?? 
dotnet_diagnostic.CA2114.severity = Error
# CA2116 - ?? 
dotnet_diagnostic.CA2116.severity = Error
# CA2117 - ?? 
dotnet_diagnostic.CA2117.severity = Error
# CA2119 - ?? 
dotnet_diagnostic.CA2119.severity = Error
# CA2121 - ?? 
dotnet_diagnostic.CA2121.severity = Error
# CA2122 - ?? 
dotnet_diagnostic.CA2122.severity = Error
# CA2123 - ?? 
dotnet_diagnostic.CA2123.severity = Error
# CA2124 - ?? 
dotnet_diagnostic.CA2124.severity = Error
# CA2126 - ?? 
dotnet_diagnostic.CA2126.severity = Error
# CA2131 - ?? 
dotnet_diagnostic.CA2131.severity = Error
# CA2132 - ?? 
dotnet_diagnostic.CA2132.severity = Error
# CA2133 - ?? 
dotnet_diagnostic.CA2133.severity = Error
# CA2134 - ?? 
dotnet_diagnostic.CA2134.severity = Error
# CA2137- ?? 
dotnet_diagnostic.CA2137.severity = Error
# CA2138 - ?? 
dotnet_diagnostic.CA2138.severity = Error
# CA2140 - ?? 
dotnet_diagnostic.CA2140.severity = Error
# CA2141 - ?? 
dotnet_diagnostic.CA2141.severity = Error
# CA2146 - ?? 
dotnet_diagnostic.CA2146.severity = Error
# CA2147 - ?? 
dotnet_diagnostic.CA2147.severity = Error
# CA2149 - ?? 
dotnet_diagnostic.CA2149.severity = Error
# CA2200 - ?? 
dotnet_diagnostic.CA2200.severity = Error
# CA2201 - ?? 
dotnet_diagnostic.CA2201.severity = Error
# CA2202 - ?? 
dotnet_diagnostic.CA2202.severity = Error
# CA2205 - ?? 
dotnet_diagnostic.CA2205.severity = Error
# CA2207 - ?? 
dotnet_diagnostic.CA2207.severity = Error
# CA2208 - ?? 
dotnet_diagnostic.CA2208.severity = Error
# CA2211 - ?? 
dotnet_diagnostic.CA2211.severity = Error
# CA2212 - ?? 
dotnet_diagnostic.CA2212.severity = Error
# CA2213 - ?? 
dotnet_diagnostic.CA2213.severity = Error
# CA2214 - ?? 
dotnet_diagnostic.CA2214.severity = Error
# CA2215 - ?? 
dotnet_diagnostic.CA2215.severity = Error
# CA2216 - ?? 
dotnet_diagnostic.CA2216.severity = Error
# CA2217 - ?? 
dotnet_diagnostic.CA2217.severity = None
# CA2218 - ?? 
dotnet_diagnostic.CA2218.severity = Error
# CA2219 - ?? 
dotnet_diagnostic.CA2219.severity = Error
# CA2220 - ?? 
dotnet_diagnostic.CA2220.severity = Error
# CA2221 - ?? 
dotnet_diagnostic.CA2221.severity = Error
# CA2224 - ?? 
dotnet_diagnostic.CA2224.severity = Error
# CA2225 - ?? 
dotnet_diagnostic.CA2225.severity = None
# CA2226 - ?? 
dotnet_diagnostic.CA2226.severity = Error
# CA2227 - ?? 
dotnet_diagnostic.CA2227.severity = None
# CA2229 - ?? 
dotnet_diagnostic.CA2229.severity = Error
# CA2230 - ?? 
dotnet_diagnostic.CA2230.severity = Error
# CA2231 - ?? 
dotnet_diagnostic.CA2231.severity = Error
# CA2232 - ?? 
dotnet_diagnostic.CA2232.severity = Error
# CA2233 - ?? 
dotnet_diagnostic.CA2233.severity = Error
# CA2234 - ?? 
dotnet_diagnostic.CA2234.severity = Error
# CA2235 - ?? 
dotnet_diagnostic.CA2235.severity = Error
# CA2236 - ?? 
dotnet_diagnostic.CA2236.severity = Error
# CA2237 - ?? 
dotnet_diagnostic.CA2237.severity = Error
# CA2238 - ?? 
dotnet_diagnostic.CA2238.severity = Error
# CA2240 - ?? 
dotnet_diagnostic.CA2240.severity = Error
# CA2241 - ?? 
dotnet_diagnostic.CA2241.severity = Error
# CA2242 - ?? 
dotnet_diagnostic.CA2242.severity = Error
# CA2254 The logging message template should not vary between calls to 'LoggerExtensions.LogXXX(ILogger, string?, params object?[]) 
#TODO: Review whethere there's a better way of doing this that keeps the code readable 
dotnet_diagnostic.CA2254.severity = None

[*.{appxmanifest,asax,ascx,aspx,build,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
